.goat {
  display: block;
  margin-top: 20px;
  margin-left: 3%;
  width: 50%;
}

.outer_logo_box {
  display: flex;
  justify-content: center;
}

.logo_box {
 border: 3px solid #265923;
 margin-bottom: 10px;
 width: 50%;
 padding: 20px;
 background-color: white;
 border-radius: 50%;
 max-width: 200px;
}

.goat_title {
  font-size: 16pt;
}

.goat_link {
  font-size: 16pt;
  display: block;
}

.sale_desc {
  margin-left: 5%;
}

details {
  margin-bottom: 20px;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color: white;
  border-radius: 30%;
}

body {
  margin: 5% 10%;
  background-color: bisque;
}

main {
  padding: 10px;
}

p {
  font-size: 14pt;
  font-family: Arial, Helvetica, sans-serif;
}

nav a {
  text-decoration: none;
  padding: 5px;
  font-size: large;
  border-radius: 10px;
  background-color: #265923;
  color: #faf9d9;
  box-shadow: 3px 3px 3px lightgray;
}


nav a:hover, .active {
  background-color: #faf9d9;
  color: #265923;
}

header {
  text-align: center;
}

nav {
  margin: auto;
  max-width: 400px;
  display: flex;
  justify-content: space-between;
}

form {
  border: 3px solid darkgreen;
  display: flex;
  flex-direction: column;
}

label {
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

input, textarea {
  border-radius: 5px;
  border: 1px solid black;
}

input {
  height: 25px;
}

textarea {
  height: 60px;
  width: 75%;
  max-width: 500px;
}

button {
  width: 150px;
  height: 75px;
  margin: 10px auto;
  border-radius: 10px;
  background-color: #265923;
  color: #faf9d9;
  box-shadow: 3px 3px 3px lightgray;
  border: none;
  font-size: 18pt;
}

button:hover {
  cursor:pointer;
}
